html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #bababa;
    font-family: sans-serif;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
}
.top {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    display: flex;
    background: #aaa;
    color: #000;
    opacity: 0.8;
    align-items: center;
    border-bottom-left-radius: 5px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#loading {
    animation: fade 2s ease-in-out infinite alternate;
}
#no-webmidi,
#no-permission {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.btn:first-child {
    border-bottom-left-radius: 5px;
}
.btn:hover {
    background-color: #bbb;
}
.btn:focus {
    background-color: #ccc;
}
.popup {
    width: 255px;
    position: absolute;
    top: 40px;
    right: 0;
    background: #aaa;
    color: #000;
    font-size: 0.8em;
}

.btn-popup[hidden='true'] {
    display: none;
}
.btn-popup[hidden='false'] {
    display: block;
}

.btn-popup {
    margin: 0;
    padding: 5px;
}
.btn-popup h3 {
    font-size: 1em;
}
.midi-info__ports {
    list-style-type: none;
    padding-left: 10px;
}
.midi-info__channels {
    padding-left: 28px;
    list-style-type: circle;
}
.midi-info__channels li::marker {
    font-size: 1.5em;
}
.dot-on {
    list-style-type: disc;
}
.dot-on::marker {
    color: #0f0;
}

.menu-dot-on::before {
    content: '•';
    color: #0f0;
    font-size: 1.5em;
    margin-right: 5px;
}

.menu-dot-off::before {
    content: '◦';
    color: #000;
    font-size: 1.5em;
    margin-right: 5px;
}
